html {
    height: 100%;
    overflow-y: hidden;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    display: grid;
    grid-template-rows: 7.5% 85% 7.5%;
    grid-template-columns: 1fr 3fr 1fr; 
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

header {
    background-color: #ffffff;
    grid-area: 1 / 1 / 2 / 4;
    border-bottom: 2px solid #dddddd;
}

.align {
    display: grid;
    grid-template-columns:  20% 15% 1fr 15% 20%; 
    grid-template-rows: 1fr 1fr 1fr; 
    height: 100%;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px; 
    font-weight: bold;
    grid-area: 1 / 2 / 4 / 3; 
    line-height: 300%; 
}

nav {
    grid-area: 2 / 4 / 3 / 5; 
    text-align: right;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
}

main {
    background-color: #ffffff;
    grid-area: 2 / 2 / 3 / 3; 
    border: 2px solid #dddddd;
    height: 60vh; 
    overflow: auto; 
    margin-top: 5%; 
    text-align: left; 
    padding-left: 4%; 
}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 2.5vh; 
    font-weight: bold;
    padding-top: 1%;
}

hr {
    border: 1px solid #dddddd;
    margin: 1% 4.5% 1% 0;
}

.content {
    width: 90%; 
    display: grid;
    grid-template-rows: 65% 1fr 1fr;
    grid-template-columns: 25% auto;
}

#mypic {
    height: 30vh;
    width: auto;
    grid-area: 1 / 1 / 2 / 2;

}

p {
    color: #777777;
    line-height: 200%; 
    height: max-content;
}

#p1 {
    grid-area: 1 / 2 / 2 / 3;
    margin: 1% 0 0 2%;
}

#p2 {
    grid-area: 2 / 1 / 3 / 3;
    margin-top: 2%;
}

#p3 {
    grid-area: 3 / 1 / 4 / 3;
    margin-top: 2%;
}

form {
    color: #777777;
}

input, textarea {
    width: 95%;
    line-height: 200%;
    margin-bottom: 10px;
}

.button {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 3.5em;
    width: 9em;
    margin-top: 1%;
    border: 2px solid #4aaaa5;
    font-size: 1.6vh;
}

.projects {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.container {
    position: relative;
    width: 90%;
    margin: 5% 0 5% 0;
}

#pic1, #pic2, #pic3, #pic4, #pic5, #pic6 {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#PsychicGame {
    grid-area: 1 / 1 / 2 / 2;
}

#WordGuessGame {
    grid-area: 1 / 2 / 2 / 3;
}

#CrystalCollectorGame {
    grid-area: 1 / 3 / 2 / 4;
}

#ComingSoon1 {
    grid-area: 2 / 1 / 3 / 2;
}

#ComingSoon2 {
    grid-area: 2 / 2 / 3 / 3;
}

#ComingSoon3 {
    grid-area: 2 / 3 / 3 / 4;
}

#label1, #label2, #label3, #label4, #label5, #label6 {
    color: #ffffff;
    background: #4aaaa5;
    z-index: 9;
    line-height: 40px;
    height: 40px;
    width: 100%;
    font-size: 2vh;
    position: absolute;
    bottom: 10px;
}

footer {
    background-color: #666666;
    grid-area: 3 / 1 / 4 / 4;
    border-top: 8px solid #4aaaa5;
    height: 100%;
}

h4 {
    color: #dddddd;
    line-height: 400%;
}


/* ================================================================================== */
@media screen and (max-width: 1300px) {

    a {
        display: block;
    }

    h1 {
        width: 115%;
    }

    .content {
        grid-template-rows: auto auto auto;
        grid-template-columns: 30% auto;
    }
    
    #mypic {
        grid-area: 1 / 1 / 2 / 2;
        max-width: 90%;
        height: auto;
        margin: 2% auto;
        padding-right: 10%;
    }

    #p1 {
        grid-area: 1 / 2 / 2 / 3;
        margin: 0 auto 1% auto;
    }
    
    #p2 {
        grid-area: 2/ 1 / 3 / 3;
        margin: 3% auto 1% auto;
    }
    
    #p3 {
        grid-area: 3 / 1 / 4 / 3;
        margin: 3% auto auto auto;
    }

/* ================================================================================== */

@media screen and (max-width: 980px) {


    body {
        grid-template-columns: 1fr 6fr 1fr;
    }

    main {
        height: 75vh;
        margin-top: 5%;
    }

    h1 {
        width: 145%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5%;
    }

    #label1, #label2, #label3, #label4, #label5, #label6 {
        font-size: 2.25vh;
    }

    .container {
        height: 100%;
    }

    #PsychicGame {
        grid-area: 1 / 1 / 2 / 2;
        width: 95%;
    }
    
    #WordGuessGame {
        grid-area: 1 / 2 / 2 / 3;
        width: 95%;
    }
    
    #CrystalCollectorGame {
        grid-area: 2 / 1 / 3 / 2;
        width: 95%;
    }
    
    #ComingSoon1 {
        grid-area: 2 / 2 / 3 / 3;
        width: 95%;
    }
    
    #ComingSoon2 {
        grid-area: 3 / 1 / 4 / 2;
        width: 95%;
    }

    #ComingSoon3 {
        grid-area: 3 / 2 / 4 / 3;
        width: 95%;
    }

    h3 {
        font-size: 3.0vh; 
    }

    .content {
        grid-template-rows: auto auto auto;
        grid-template-columns: 20% auto 20%;
    }
    
    #mypic {
        grid-area: 1 / 2 / 2 / 3;
        max-width: 50%;
        height: auto;
        margin: auto;
        padding-right: 10%;
    }

    #p1 {
        grid-area: 2 / 1 / 3 / 4;
        margin: 4% auto 1% auto;
    }
    
    #p2 {
        grid-area: 3/ 1 / 4 / 4;
        margin: 3% auto 1% auto;
    }
    
    #p3 {
        grid-area: 4 / 1 / 5 / 4;
        margin: 3% auto auto auto;
    }

} 

/* ================================================================================== */

@media screen and (max-width: 768px) {

    body {
        grid-template-columns: 1fr 9fr 1fr;
    }

    main {
        height: 75vh;
        margin-top: 4%;
    }

    #label1, #label2, #label3, #label4, #label5, #label6 {
        font-size: 2.5vh;
    }

    h1 {
        width: 175%;
    }

    h3 {
        font-size: 3.5vh; 
    }

    h4 {
        line-height: 400%;
    }

    .content {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 20% auto 20%;
    }
    
    #mypic {
        grid-area: 1 / 2 / 2 / 3;
        padding: 0;
    }
    
    #p1 {
        grid-area: 2 / 1 / 3 / 4;
        margin: 4% auto 1% auto;
    }
    
    #p2 {
        grid-area: 3/ 1 / 4 / 4;
        margin: 3% auto 1% auto;
    }
    
    #p3 {
        grid-area: 4 / 1 / 5 / 4;
        margin: 3% auto auto auto;
    }

}

/* ================================================================================== */

@media screen and (max-width: 640px) {

    body {
        grid-template-columns: 0.5fr 16fr 0.5fr;
        grid-template-rows: 15% 77% 8%;       
    }

    header {
        position: static;
    }

    main {
        height: 72vh;
        margin-top: 3%;
    }


    .projects {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .container {
        width: 95%;
        height: 40vh;
        position: relative;
    }

    #PsychicGame {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #WordGuessGame {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    #CrystalCollectorGame {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    #ComingSoon1 {
        grid-area: 4 / 1 / 5 / 2;
    }
    
    #ComingSoon2 {
        grid-area: 5 / 1 / 6 / 2;
    }

    #ComingSoon3 {
        grid-area: 6 / 1 / 7 / 2;
    }

    #label1, #label2, #label3, #label4, #label5, #label6 {
        position: absolute;
        bottom: 10px;
        font-size: 3vh;
    }

    #pic1. #pic2, #pic3, #pic4, #pic5, #pic6 {
        position: absolute;
    }

    h3 {
        font-size: 4vh; 
    }

    h4 {
        line-height: 400%;
    }

    .align {
        grid-template-columns:  1fr; 
        grid-template-rows: 60% 1fr; 
    }

    h1 {
        font-size: 3vh; 
        grid-area: 1 / 1 / 2 / 2; 
        width: 100%;
    }
    
    nav {
        grid-area: 2 / 1 / 3 / 2; 
        text-align: center;
        line-height: 300%;
    }

    a {
        padding: 2%;
        display: inline;
    }

    .content {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
    }
    
    #mypic {
        grid-area: 1 / 1 / 2 / 2;
        width: 65%;
        height: auto;
        margin: auto;
    }
    
    #p1 {
        grid-area: 2 / 1 / 3 / 2;
        margin: 4% auto 1% auto;
    }
    
    #p2 {
        grid-area: 3/ 1 / 4 / 2;
        margin: 3% auto 1% auto;
    }
    
    #p3 {
        grid-area: 4 / 1 / 5 / 2;
        margin: 3% auto auto auto;
    }

}

/* ================================================================================== */